version: '3'

services:
    app:
        container_name: top-api
        image: ghcr.io/uldren/education-nestjs:sha-264d671
        restart: always
        ports:
            - 127.0.0.1:3000:3000
        depends_on:
            - db
    db:
        container_name: mongodb
        image: mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: $MONGO_USERNAME
            MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
            MONGO_INITDB_DATABASE: $MONGO_DATABASE
        ports:
            - 27017:27017
