name: Publish Docker

on:
    push:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            # Add your test steps here if needed...
            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v4
              with:
                images: ghcr.io/uldren/education-nestjs
                tags: type=sha
            - name: Login to GHCR
              uses: docker/login-action@v2
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
            - name: Build container
              uses: docker/build-push-action@v4
              with:
                context: .
                push: true
                tags: ${{ steps.meta.outputs.tags }}